/*p*/
p
{
	font-size:15px;
	text-align:center;
}
p.title
{
	 /*style='text-align:center;font-size:20px;'*/
	 /*text-align:center;*/
	 text-align:center;
	 font-size:20px;
}
div#designSim{width: 100%;}
textarea#editCmd
{
	background-color: rgb(255,255,255);
	/*float:left;*/
	height: 400px;
	width: 48%;
	overflow:scroll;
}
textarea#simulateCmd
{
	background-color: rgb(255,255,255);
	/*float:right;*/
	height: 400px;
	width: 48%;
	overflow:scroll;
}

/*html*/
html{
	background-image: linear-gradient(to right , #7A88FF, #7AFFAF);
}